

/*** 
=============================================
    Testimonial Style1 Area Css
=============================================
***/
.testimonial-style1-area{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 110px 0 110px;
    z-index: 1;
}
.testimonial-style1-area .layer-outer {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    max-width: 620px;
    width: 100%;
    opacity: .05;
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 10;
}

.testimonial-style1-content {
    position: relative;
    display: block;
}
.testimonial-carousel{
    position: relative;
    display: block;
    z-index: 10;
}

.single-testimonial-style1{
    position: relative;
    display: block;
}
.single-testimonial-style1 .text-holder{
    position: relative;
    display: block;
}
.single-testimonial-style1 .text-holder .text-box {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 42px 49px 76px;
    border: 1px solid #e1e1e1;
}
.single-testimonial-style1 .text-holder .text-box .arrow-bottom {
    position: absolute;
    left: 55px;
    bottom: -15px;
    width: 28px;
    height: 15px;
}
.single-testimonial-style1 .text-holder .text-box p{
    margin: 0;
}
.single-testimonial-style1 .text-holder .text-box .icon-box{
    position: absolute;
    bottom: 28px;
    right: 49px;
}
.single-testimonial-style1 .text-holder .text-box .icon-box span{
    font-size: 40px;
}

.single-testimonial-style1 .client-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.single-testimonial-style1 .client-info .image-box{
    position: relative;
    display: block;
    width: 60px;
}
.single-testimonial-style1 .client-info .image-box img{
    width: 100%;
    border-radius: 50%;
}
.single-testimonial-style1 .client-info .title-box{
    position: relative;
    display: block;
    padding-left: 15px;
}
.single-testimonial-style1 .client-info .title-box h3{
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
.single-testimonial-style1 .client-info .title-box span{
    color: #666666;
    font-size: 14px;
}

/*** 
=============================================
    Testimonial Style2 Area Css
=============================================
***/
.testimonial-style1-area.style1instyle2{
    position: relative;
    display: block;
    overflow: hidden;
    background: #ffffff;
    padding: 110px 0 110px;
    z-index: 1;
}
.testimonial-style1-area .layer-outer2 {
    position: absolute;
    top: 0;
    left: -150px;
    bottom: 0;
    max-width: 620px;
    width: 100%;
    opacity: .15;
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: 10;
}
